:root {
  --screen-size-small: 30em;
  /* breakpoint reference only */
}

.muted {
  color: rgba(255, 255, 255, 0.5);
}

.responsive-iframe {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border: 0;
}

main,
footer {
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

footer time[datetime$="M"]:before {
  content: "\2013\0020";
}

@media only screen and (max-width: 30em) {
  footer time[datetime$="M"] {
    display: none;
  }
}

blockquote cite {
  display: block;
}

blockquote cite::before {
  content: "\2014";
}

:target {
  color: #fff;
}

/* hack.css overrides and enhancements */
.hack li ul {
  margin: 0;
}

.main {
  padding: 20px 10px;
}

nav a.active {
  background-color: #ff2e88;
  color: #fff;
}

a[itemprop="url"] {
  color: #ff9800;
}

a[itemprop="url"]:hover {
  color: #fff;
}



figure a[href*="://"]::after,
figure a[rel*="external"] {
  content: "";
}

html {
  font-size: 13px;
}

.hack pre {
  font-size: 17px;
}

.icon {
  margin-bottom: -3px;
}

article [itemprop="description"],
article [itemprop="summary"] {
  margin-bottom: 20px;
  margin-top: 20px;
}

article [itemprop="summary"] p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1em;
  }

  .container {
    max-width: 50rem;
  }
}