{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if page %}
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% elif config.description %}
  <meta name="description" content="{{ config.description }}" />
  {% endif %}
  {% elif config.description %}
  <meta name="description" content="{{ config.description }}" />
  {% endif %}

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  <!-- {% if config.generate_feed %}
  <link rel="alternate" type={% if config.feed_filename=='atom.xml' %}"application/atom+xml"{% else
    %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
  {% endif %} -->

  {% block css %}
  <link rel="stylesheet" href="{{ get_url(path='site.css', trailing_slash=false) | safe }}">
  {% endblock css %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
    integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js"
    integrity="sha384-hIoBPJpTUs74ddyc4bFZSM1TVlQDA60VBbJS0oA934VSz82sBx1X7kSx2ATBDIyd"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.min.js"
    integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk"
    crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      renderMathInElement(document.body, {
        // customised options
        // • auto-render specific keys, e.g.:
        delimiters: [
          { left: '$$', right: '$$', display: true },
          { left: '$', right: '$', display: false },
          { left: '\\(', right: '\\)', display: false },
          { left: '\\[', right: '\\]', display: true }
        ],
        // • rendering keys, e.g.:
        throwOnError: false
      });
    });
  </script>

  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body class="hack dark main container">

  {% block header %}
  {% if config.extra.after_dark_menu %}
  <header>
    <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
      {% for item in config.extra.after_dark_menu %}
      <a itemprop="url" class="{% if item.url | replace(from='$BASE_URL', to=config.base_url)==current_url %}active{%
        endif %}" href="{{ item.url | safe | replace(from='$BASE_URL', to=config.base_url) | safe }}">
        <span itemprop="name">{{ item.name }}</span></a>
      {% endfor %}
    </nav>
  </header>
  {% endif %}
  {% endblock header %}

  {% block content %}
  {% endblock content %}
</body>

</html>