{% extends "base.html" %}

{% block content %}

<main>
  {% if config.extra.after_dark_title %}
  <header>
    <h1>{{ config.extra.after_dark_title }}</h1>
  </header>

  <section id="about">

    <p>I am currently a PhD student in formal verification of programs for the law under the supervision of <a
        href="https://people.irisa.fr/Sandrine.Blazy/">Sandrine Blazy</a> and <a href="https://merigoux.ovh/">Denis
        Merigoux</a> in <a href="https://team.inria.fr/prosecco/">Prosecco</a> and <a
        href="https://team.inria.fr/celtique/">Epicure</a> team. I was previously civil-servant for my studies at ENS
      Lyon in Computer Science. I have a Master’s of Research degree in Fondamental Computer Science (MPRI).</p>
    <p>My research interests include:</p>
    <ul>
      <li>Programming languages</li>
      <li>Compilation</li>
      <li>Formal verification</li>
    </ul>
    <p>I am interested in the social impact of computer science. I followed the first year of the Master of Philosophy
      of science at Paris 1 Panthéon Sorbonne. I did various projects for the popularization of science.</p>
    <p>Feel free to contact me to discuss any of the above topics.</p>



    <p>Contact me by <a class="icon" target="_blank" rel="noopener" href="mailto:alain.delaet+d8aa0d9fae944dfb@inria.fr"
        aria-label="Email"><i class="fas fa-envelope" aria-hidden="true">mail</i></a>.</p>

  </section>
  {% endif %}
</main>
{% endblock content %}