{% extends "base.html" %}


{% import "post_macros.html" as post_macros %}

{% block content %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <span class="muted">{{ post_macros::meta(page=page) }}</span>
    </header>
    <div itemprop="articleBody">
        {{ page.content | safe }}
    </div>

    {% block page_footer %}
    <footer>
        <hr>
        <p>
            {% if page.taxonomies.categories %}
            {% set category = page.taxonomies.categories[0] %}
            in <a href="{{ get_taxonomy_url(kind=" categories", name=category) | safe }}">{{ category }}</a>
            {% endif %}
            {% if page.taxonomies.tags %}
            {% if page.taxonomies.categories %}and{% endif %}
            tagged
            {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind=" tags", name=tag) | safe }}">{{ tag }}</a>
            {% if page.taxonomies.tags | length > 1 %}
            {% if loop.index != page.taxonomies.tags | length %}
            {% if loop.index == page.taxonomies.tags | length - 1 %}
            and
            {% else %}
            ,
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endif %}
        </p>
        {% block extra_footer %}
        {% endblock extra_footer %}
    </footer>
    {% endblock page_footer %}
</article>

{% endblock content %}