{% macro meta(page) %}

{% endmacro meta %}

{% macro page_in_list(page) %}
<article itemscope itemtype="http://schema.org/CreativeWork">
    <header>
        <h2 itemprop="name">
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a> <span class="muted">{{ self::meta(page=page)
                }}</span>
        </h2>

    </header>
</article>
{% endmacro page_in_list %}