{% extends "base.html" %}
{% import "post_macros.html" as post_macros %}


{% block content %}
<h1>{{ section.title }}</h1>

<div itemprop="articleBody">
  {{ section.content | safe }}
</div>


{% for page in section.pages %}
{{ page.title }}
{{ post_macros::page_in_list(page=page) }}
{% endfor %}
{% endblock content %}

{% if paginator.pages | length > 0 %}
<p> Here is some blog posts:</p>
{% for page in paginator.pages %}
{{ post_macros::page_in_list(page=page) }}
{% endfor %}
{% endif %}

{% if paginator.number_pagers != 1 %}
<nav>
  <p>
    {% if paginator.previous %}
    <a href="{{ paginator.previous }}">&laquo; Previous</a> |
    {% endif %}
    <span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
    {% if paginator.next %}
    | <a href="{{ paginator.next }}">Next &raquo;</a>
    {% endif %}
  </p>
</nav>
{% endif %}